{{#with view}}
    <td>{{content.name}}</td>
    <td>{{content.email}}</td>

    <td><span class="display-item gray">{{content.key_id}}</span></td>
    <td><span class="display-item gray">{{key_secret}}</span></td>

    {{#if content.isDisabled}}
      {{view RiakCsControl.ButtonView
              updateText="Enable"
              contentBinding="content"
              functionBinding="controller.enableUser"}}
    {{else}}
      {{view RiakCsControl.ButtonView
              updateText="Disable"
              contentBinding="content"
              functionBinding="controller.disableUser"}}
    {{/if}}

    {{view RiakCsControl.ButtonView
            updateText="Revoke"
            contentBinding="content"
            functionBinding="controller.revokeCredentials"}}
{{/with}}
