{{#with view}}
    <td>{{name}}</td>
    <td>{{email}}</td>

    <td><span class="display-item gray">{{keyId}}</span></td>
    <td><span class="display-item gray">{{keySecret}}</span></td>

    {{#if content.isDisabled}}
      {{view RiakCsControl.ButtonView
              label="Enable"
              contentBinding="content"
              target="enableUser"}}
    {{else}}
      {{view RiakCsControl.ButtonView
              label="Disable"
              contentBinding="content"
              target="disableUser"}}
    {{/if}}

    {{view RiakCsControl.ButtonView
            label="Revoke"
            contentBinding="content"
            target="revokeCredentials"}}
{{/with}}
