{{#with view.content}}
    <td><span class="display-item gray">{{key_id}}</span></td>
    <td class="capitalize">{{status}}</td>
    <td>{{name}}</td>
    <td>{{email}}</td>
    <td class="button-cell">
      <a class="row-button-edit" {{action "viewUser" this href=true}}>Details</a>
    </td>
{{/with}}
