<section class="constrained info">
    {{#if view.isLoaded}}
        <div class="block-container white">
            <h2 class="title">User List</h2>

            <div class="white-slab">
                <div class="tab-container right">
                    <a class="active-tab filter-tab">
                        Filter by
                        {{view RiakCsControl.UserFilterView placeholder="All Users..."}}
                    </a>
                    <div class="hide-shadow clear"></div>
                </div>
                <div class="user-list-table">
                    <table class="info-table">
                        {{#if controller.filteredContentEmpty}}
                            <tr>
                                <td class="empty-state">
                                    <img src="images/filter-man.jpg" alt="Everything has been filtered out." />
                                </td>
                            </tr>
                        {{else}}
                            {{collection RiakCsControl.UsersCollectionView contentBinding="controller.filteredContent" itemClass="standard-row"}}
                        {{/if}}
                    </table>
                </div>
            </div>
        </div>
    {{else}}
        {{view RiakCsControl.LoadingView id="loading"}}
    {{/if}}
</section>
